.panel {
    width: 100vw;
    height: 80vh;
    background: green;
    margin-top: 20vh;
}

.example-enter {
    height: 0px;
}

.example-enter.example-enter-active {
    /* height: 100px; */
    -webkit-transition: height 1.3s ease;
}

.example-leave.example-leave-active {
    height: 0px;
    -webkit-transition: height 1.3s ease;
}
